.content-area {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  background-color: skyblue;
}

section {
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: #e82c17;
}
